*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    background: url('bg.png');
    background-size: cover; 
    background-repeat:  no-repeat; 
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8rem;
    height: 100vh;
}

.bubble {
    width: 100px;
    height: 100px;
    background: rgba(255,255,255, 0.1);
    border-radius: 50%;
    box-shadow: inset 4px 7px  8px white; 
    animation: bubble-animation 3s infinite;
    backdrop-filter: blur(2 px);
    opacity: 50%;
    border: 1px solid white;
    cursor: pointer;
    transition: all .2s;
}
.bubble:active{
  scale: 0.8;
}

.bubble-inner {
    position: absolute;
    width: 90%;
    height: 90%;
    background: radial-gradient(circle, rgba(148, 12, 172, 0.2) 0%, rgba(232, 116, 205, 0) 70%);
    border-radius: 50%;
  }

  .light {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 10%;
    left: 20%;
    background: radial-gradient(circle, rgba(210, 145, 226, 0.6), rgba(169, 158, 158, 0) 70%);
    border-radius:50%;
}
.counter{
  background-color: rgb(10, 10, 112);
  box-shadow: inset  1px  1px rgb(237, 117, 223) ;
  border-radius: 20px;
  width:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  color: white;
  gap:1rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 4;
}

.inside-container{
    position:absolute;
    top:110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.inside-container-2{
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    position: absolute;
    top:-10px;
}
.bubble-1{
    z-index: 1;
    position: relative;
    top:33px;


}
.question{
    position: relative;
    top:-86px;
    right:-140px;
    background-color: #50514f;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
    z-index: 4;
    box-shadow: inset 0px -2.16px 4.32px rgba(0, 0, 0, 0.25), inset 0px 3.24px 4.32px rgba(255, 255, 255, 0.5), 0px 0px 35px 15px rgba(149, 110, 215, 0.6);

}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  z-index: 4;
  background-color: #1d0c44;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bubble {
    height: 300px;
    width: 300px;
    z-index: 4;
    position:absolute;
    top:300px;
}


.component-title {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #888;
    text-align: center;
  }
  
  .auto {
    width: 51px;
    height: 31px;
    position: absolute;
    top:650px;
    left: 0px;
    display: flex;
    flex-direction: column;
  }
  .txt{
    position:relative;
    top:630px;
    left:9px;
    font-size: 1rem;
    color: white;
    width: 90px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  /* Hide default HTML checkbox */
  .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 4;
  }
  
  .switch{
    width: 100px;
    height: 30px;
    display: block;
    background-color: #60c94b;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    background: #34495e;
    background-image: url(Rectangle.png);
    background-size:cover ;
  }
  nav{
    width: 70%;
    height: 50px; 
    border-radius: 8px;
    font-size: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    overflow: hidden;
    background: linear-gradient(90.3deg, #373F96 0.11%, #435EC8 52.04%, #373C94 99.82%, #38388E 99.82%);
border-radius: 6.83208px;
  }
  nav a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: flex;
   align-items: center;
   width: 100%;
  }
  nav .animation{
    position: absolute;
    height: 70%;
    top: 7px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5319d9;
    border-radius: 8px;
    transition: all .5s ease 0s;
    background: linear-gradient(90deg, #C1FFFB 0%, #A1AAFF 100%);
box-shadow: 0px 1.36642px 3.41604px rgba(10, 19, 9, 0.12);
border-radius: 4.78246px;
  }
  nav a:nth-child(1){
    width: 70px;
  }
  nav .start-home, a:nth-child(1):hover~.animation{
    width: 90px;
    left: 90px;
  }

  .slider {
    width: 70px;
    height: 27px;
    position: absolute;
    left: calc(50% - 27px/2 - 10px);
    top: calc(50% - 27px/2);
    border-radius: 20px;
    background: #111c0e;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-out;
    cursor: pointer;
    color: white;
    display: grid;
    place-content: center;
    font-family:Arial, Helvetica, sans-serif;
  }
  .auto-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .checkbox:checked + .switch {
  background: linear-gradient(90deg, #ed8656 1.86%, rgba(123, 158, 40, 0.94) 101%);
  }
  
  .checkbox:checked + .switch .slider {
    left: calc(50% - 20px/2 + 10px);
    top: calc(50% - 27px/2);
  }
  
.bg-2{
    z-index:2;
    position:absolute;
    bottom:0px;
    right:0px;
}
.bg-3{
    z-index:0;
    position:absolute;
    bottom:40px;
    left:0px;
    opacity: 80%;
}
.bg-3 img{
    width:100%;
    height: 90%;
}
.bg-4{
    z-index:3;
    position:absolute;
    bottom:60px;
    left:0px;
}

#progressContainer {
    width:250px;
    background-color: #3c3a3a; 
    height: 20px;
    border-radius: 20px; 
    overflow: hidden; 
    margin-bottom: 20px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    box-shadow: inset 0px -2.16px 4.32px rgba(0, 0, 0, 0.25), inset 0px 3.24px 4.32px rgba(255, 255, 255, 0.5), 0px 0px 35px 15px rgba(149, 110, 215, 0.6);
}
#progressBar {
    height: 100%;
    width: 0; 
    background: linear-gradient(90deg, #FF6417 1.86%, rgba(112, 0, 255, 0.94) 101%); /* Gradient background */
    transition: width 0.2s; 
    box-shadow: inset 0px -2.16px 4.32px rgba(0, 0, 0, 0.25), inset 0px 3.24px 4.32px rgba(255, 255, 255, 0.5); 
    border-radius: 20px;


}


